{% extends 'base_post.html.twig' %}

{% block title %}Hello AdosAdultesController!{% endblock %}

{% block banner %}
<span></span>
{% endblock %}


{% block post_text_col_1 %}
    <div class="container mx-0 mt-0 d-flex flex-column justify-content-between" style="height:94.999998%;width: 120%;">
        <div class="row">
            <div class="col-md-12 mr-4">
                 <img class="w-100 mx-auto" style="object-fit:cover;" src="{{ asset('images/content/cours7JPG.JPG') }}" height=500>
            </div>
        </div>
        <br/>
        <div class="row justify-content-between">
            <div class="col-md-6">
                <img class="w-100 mx-auto" style="object-fit:cover;" src="{{ asset('images/content/cours7JPG.JPG') }}">
            </div>
            <div class="col-md-6">
                 <img class="w-100 mx-auto" style="object-fit:cover;" src="{{ asset('images/content/cours7JPG.JPG') }}">
            </div>
        </div>
    </div>
{% endblock %}

{% block post_text_col_2 %}
   <article class="blockquote text-left">
        <small> 
            <p> Atelier et cours de peinture et de dessin pour Adultes et Ado a Cergy (95)</p>
            <p> Cours de dessin, peinture pour adolescentes et adultes </p>
            <p> Les cours de dessi, peinture et modelage pour adolescents et adultes sont ouverts active tous, adolescents a partir de 15 ans et adultes sans limite da ge, souciex de decouvrir
            <br/>les arts plastiques ou de se perfectionner. Que vous soyes debutant ou confirme, les cours<br/>
            s adaptent a vous et vous permetent de progresser.
            </p>

            <h3> Objectifs des cours: </h3>
            <p>Vous apportes des connaissances solides en dessin et peinture. Vous accompagner sur le chemin de la creation personnelle. Vous rendere petit a petit autonome.</p>
            <p> Tous les cours que nous proposons, qu'il s'agisse des-cours du soir de peinture, des cours de dessin, de portrait ont pour vocation d'offrir aux eleves un regard
            diffrent sur le monde, pour mieux le comprendre et pouvour le representer dans leurs creations.
            </p>

            <p> Quel que soit le cours de votre choix vous decouvrirez un programme pedagogique diversife, progressif et adaptable qui
            permettra a chacun, en function de son rythme et de son niveau, d'apprehender et d'approfondir la creation artistique et de
            decouvrir en lui des capacites insoupconness et enrichissantes.
            </p>
        </small>
   </article>
{% endblock %}
